<!DOCTYPE html>
<html lang="en" ng-app='piratesApp'>
<head>
	<meta charset="UTF-8">
	<title>Pirates App</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->`
	<link rel="stylesheet" href="/stylesheets/style.css">
	<base href="/">
</head>
<body>



	<hr>
	<nav>
	<h1>
		MY PIRATE APP
	</h1>
		<!-- <a href="/pirates"> PIRATES!!!</a> -->
		<a href="/pirates/new" id='add-pirate' class='pull-right btn btn-primary'> New Pirate</a>
	</nav>


	<div ng-view></div>


	<!-- angular -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
	<!-- angular-route (necessary fofr routing) -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script> 

	<script trype='text/javascript' src='/javascripts/app.js'></script>
	<script trype='text/javascript' src='/javascripts/controllers.js'></script>
	<script trype='text/javascript' src='/javascripts/services.js'></script>
	<script trype='text/javascript' src='/javascripts/components.js'></script>
</body>
</html>